<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лейс</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content-card">
        <h1>Лейс</h1>
        <p class="boss-description">Лейс (ориг. Lace) — неигровой персонаж и босс в игре</p>
        <h2>Описание:</h2>
        <p class="boss-description">Белое существо с каплевидным тельцем, тонкими конечностями и большой головой, похожей на венец, внизу которого виднеется тёмное лицо с белыми глазами. В отличие от большинства жуков Фарлума, Лейс полностью сплетена из шёлка по образу ребёнка как телом, так и умом. Является созданием Верховной матери Шёлка, ей было суждено стать верным дитя, которое смогло бы пробудить свою мать из дрёмы. Она считает своё существование хрупким и жалким, едва ли похожим на настоящую жизнь. Долгое время Лейс бродила по Цитадели, поддерживая её чистоту и порядок. При продвижении в игре Лейс начнёт сомневаться, считая, что матери Хорнет нравится больше.

Помимо сражений, Лейс можно встретить в некоторых уголках Фарлума, по продвижении в игре:

Подточенные ступени. Будет сидеть на уступе около входа в локацию. Появляется там только в том случае, если вы пропустили сражение с ней в Глубоких доках.
Также если пропустить сражение, то можно встретить её на входе в Дорогу грешников.
Выпускной орган. В здании можно найти светящуюся капсулу. Если сыграть около неё на иглончели, то можно будет увидеть воспоминание с Лейс.
Хоровые палаты. Появляется у каждого из входов, будь то Большие врата или Выпускной орган.
После сражения с Верховной матерью Шёлка Хорнет может перейти в акт 3, заранее подготовив ловушку улиток-шаманов. В таком случае босс будет захвачен Бездной, и от последующего падения туда Хорнет защитит Лейс. После этого встретить её можно будет только у места, где Хорнет предстоит нырнуть в Бездну с вечноцветом. После небольшого диалога последней встречей станет сражение с Пропащей Лейс.</p>
        <h2>Атаки:</h2>
        <ol class="attacks-list">
            <li>Стремительный противник, полагающийся на мобильность и богатый набор движений.

Глубокие доки
Сражение закрывает собой доступ к плащу бродяги. Тем не менее, его можно пропустить, если пройти к Подточенным ступеням через Червоточины.

Первая фаза
1. Рывок - занимает боевую стойку и совершает длинный рывок с уколом.
2. Сальто - готовится к атаке и подпрыгивает в воздух с ударом во вращении, после чего по диагонали пикирует с уколом вниз в сторону Хорнет.
3. Комбо - замахивается булавкой и делает два коротких удара.
4. Возврат - заканчивает некоторые атаки быстрым ударом булавки вверх.
5. Отшаг - после некоторых движений быстро отступает.
6. Быстрый шаг - делает несколько быстрых шажков в сторону Хорнет, если находится слишком далеко, чтобы сократить расстояние и провести новую серию атак.
7. Контратака - встаёт в защитную стойку, сопровождаемую характерным звуком удара булавкой. Если атаковать Лейс в этот момент, то она контратакует быстрой серией уколов в сторону персонажа, перед собой.
Вторая фаза
8. Буйство шёлка - отмечает определённую часть арены звездой, после чего перемещается к ней, совершает множество порезов булавкой в круглой области и падает на землю.
В атаке комбо появляется третий, завершающий удар.
Колыбель
Первая фаза
Набор движений практически идентичен первой фазе Лейс из Глубоких доков. Тем не менее, Комбо сразу будет содержать в себе 3 атаки, также босс начнёт проводить до двух Сальто подряд.
Атаки будут идти одна за другой значительно быстрее.
Контратака несколько меняется, у неё появляется вторая вариация, после которой Лейс на короткий миг исчезает, зависает в воздухе и атакует персонажа серией уколов по диагонали вниз.
Вторая фаза
Начинается после первого рёва Лейс:

Вместо одного совершает два Буйства шёлка подряд.
Меняется Сальто - теперь первый прыжок с ударом оставляет после себя 3 круговых разреза.</li>
        </ol>
        <h2>Тактика:</h2>
        <div class="strategy">
            <p>Лейс в Глубоких Доках
Главной уязвимостью Лейс являются атаки сверху. Совершать их безнаказанно можно на атаках Рывок1 и Комбо3 , причём после окончания этих атак можно добавить ещё один удар или шёлковое копьё при достаточном количестве шёлка, выждав момент после Возврата4. Атака Сальто2 рассчитана на поимку игрока в атаке сверху, однако её можно легко предугадать по характерной подготовке. Если совершить быстрый рывок в сторону Лейс, то Сальто3 можно будет полностью избежать, либо атаковать Лейс в воздухе, пока она находится между прыжком и пикированием. Самым неприятным движением является Контратака7 , поскольку босс может спокойно поставить блок прямо перед окном для атаки. Если вы всё-таки попали по блоку, то сразу подпрыгните вверх и совершите либо удар вниз, либо рывок - это спасёт вас от серии уколов и позволит зайти в спину к боссу.

Вторая фаза мало чем отличается от первой - более продолжительное Комбо3 по-прежнему наказывается атакой вниз. Тем не менее, лучше всего сразу уйти рывком после атаки, поскольку Хорнет может попасться на последнем ударе. Буйство шёлка5 выглядит опасно, но выйти из его зоны поражения не составляет никаких проблем, причём атаковать Лейс можно сразу после.

Имейте ввиду, что при завершении своих атак Лейс часто может останавливаться у края обрыва. При атаке в этот момент её можно сбросить в озеро, что нанесёт ей урон и вынудит вернуться в центр арены.

Лейс в Колыбели
Тактика практически аналогична бою в Глубоких доках. Учитывая изменение движений Лейс, не стоит атаковать её сразу после окончания Сальто2. Новая грозная Контратака4 достаточно легко обходится рывком - если вы сделаете рывок по направлению атаки, то попадёте под Лейс, что позволит вам совершить серию атак, а если в обратную сторону, то окажетесь в безопасной зоне. Изменение Сальто2 в фазе перехода несколько сковывает перемещение по арене, но избежать этой атаки можно по-прежнему, рывком становясь под босса. Единственное отличие второй фазы - это два Буйста шёлка5 подряд, из-за чего придётся атаковать только после конца второго.

Лейс можно сбросить с обрыва и на новой арене.

Инструменты
В Глубоких доках выбор сборки весьма небольшой - сгодится и охранный колокольчик, что позволит вам чаще ошибаться. По возможности следует наносить урон прямой булавкой.

В колыбели самым эффективным стилем сражения является постоянное давление босса обычными атаками с комбинацией сильных навыков, например вольт-жилы и буйства нитей. Подход к сражению меняется в зависимости от знака. Знак Охотницы позволяет проводить крайне удобные серии атак с ударами сверху, а знак Странницы - наглеть и вносить большое количество урона в короткий срок, особенно в сочетании с блошиным отваром и кремнёвой пластиной. Для повышения живучести можно экипировать мультисвязыватель и/или инъекторную повязку.

Не рекомендуется сражаться с ней пассивно, поскольку это приводит к более долгому сражению, в котором вероятность ошибиться будет выше. Тем не менее, с использованием полипового мешочка, заводной мухи, колючек, трутового фонаря и кристалла памяти, знака Архитектора или знака Жнеца победить её можно достаточно быстро. Смысл тактики заключается в простом избегании атак Лейс, с упором на нанесение урона вышеперечисленными инструментами. Тратьте их постепенно, поскольку длительность яда не складывается, а заменяется. Тем не менее, из-за этой тактики придётся не только хорошенько выучить набор движений босса, но и намеренно затянуть сражение, а постоянная трата инструментов обойдётся большим количеством осколков.</p>
        </div>
        <a class="button" href="{{ url_for('index') }}">Вернуться на главную</a>
    </div>
</body>
</html>

