<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Матерь Мхов</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content-card">
        <h1>Матерь Мхов</h1>
        <p class="boss-description">Матерь Мхов (ориг. Moss Mother) — первый босс в игре Hollow Knight: Silksong. Преграждает единственный путь в Старую капеллу, а потому является обязательным.</p>
        <h2>Описание:</h2>
        <p class="boss-description">Огромная матка мшемиров, охраняющая выход из Мшистого грота.</p>
        <h2>Атаки:</h2>
        <ol class="attacks-list">
            <li>Разгоняется и летит по диагональной траектории, пытаясь ужалить Хорнет.</li>
            <li>Врезается в потолок, тем самым вызывая падение трёх камней в случайных местах.</li>
            <li>То же, что и №2, однако вместо камней на арене появляется 1-2 Выползмшеня.</li>
        </ol>
        <h2>Тактика:</h2>
        <div class="strategy">
            <p>Несложный босс, с которым, однако, требуется небольшая осторожность. Во время полёта она достаточно уязвима к диагональным атакам Хорнет, поэтому этот момент можно отлично использовать для нанесения максимального урона, а в момент атак заниматься лишь уклонением. Также можно атаковать её с земли, когда она призывает камни или своих миньонов.</p>
            <p>Вторая битва происходит в Ткачедоме Атла. Сначала появляется только одна Матерь Мхов, а затем и вторая. Битва становится сложнее из-за различных комбинаций атак. После неё можно получить Ткачесвет. Если не убить Матерей Мха во 2 акте, при переходе в 3 они заразятся пустотой и станут пропащими. Так же в 3 акте появляется ещё одна пропащая матерь мхов, как секретный босс.</p>
        </div>
        <a class="button" href="{{ url_for('index') }}">Вернуться на главную</a>
    </div>
</body>
</html>
