<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вдова</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content-card">
        <h1>Вдова</h1>
        <p class="boss-description">Вдова (ориг. Widow) — босс в игре Hollow Knight: Silksong.</p>
        <h2>Описание:</h2>
        <p class="boss-description">Одинокая Ткачиха, поселившаяся у большого колокола Звонвилля. После победы над ней открывается новая способность иглончель.</p>
        <h2>Локация:</h2>
        <p class="boss-description">Вдова обитает в верхней части Звонвилля, над поселением. Добраться туда можно через Панцирный лес — в его правой части, при условии, что у вас есть способность цепкий захват.</p>
        <h2>Атаки:</h2>
        <ol class="attacks-list">
            <li>Колокол сверху - выпускает от 1 до 3 колоколов, летящих в персонажа сверху вниз. Колокол отскакивает один раз, немного отклоняясь, после чего исчезает.</li>
            <li>Диагональный колокол - выпускает от 1 до 3 колоколов, летящих в персонажа по диагонали сверху вниз. После столкновения с землёй они отскакивают вверх. Имейте ввиду, что Вдова может выпускать как и несколько одинаковых, так и несколько разных колокольных атак последовательно.</li>
            <li>Колокольные нити - начинает двигаться с одного края арены на другой. Во время движения связывает пространство арены шёлковой нитью в 4 равных части, после чего в каждой части из под земли последовательно вырываются колокола.</li>
            <li>Наскок - Вдова взлетает в воздух и совершает диагональный удар в сторону персонажа. При уклонении начинает нестись в сторону персонажа, размахивая острыми когтями.</li>
            <li>Колокольный дождь - после 1-го оглушения Вдова издаёт вопль, после чего с неба плотным рядом сверху вниз падают колокола. Может атаковать центр, левый или правый края арены.</li>
            <li>Вторая фаза - после 4-го оглушения Вдова на время исчезает, после чего переходит во вторую фазу. Диагональный колокол теперь всегда выпускает два колокола, летящих с небольшим пробелом друг от друга одновременно. После этой атаки может комбинировать две следующие:</li>
            <li>Колокол сверху вызывает 4 колокола одновременно, после чего они одновременно падают сверху вниз через равные расстояния. Может вызывать эту атаку несколько раз подряд.</li>
            <li>Наскок — исчезает диагональный удар, остаётся только рывок с атакой когтями.</li>
        </ol>
        <h2>Тактика:</h2>
        <div class="strategy">
            <p>Вдова — крайне активный босс, который исчезает в промежутке между атаками, поэтому вам придётся ловить её во время анимации. Тем не менее большинство её атак колоколами легко избежать, если занять подходящее место и не двигаться. Колокольные нити могут застать вас врасплох, но Вдову во время её исполнения можно либо атаковать ударом вниз, после чего переждать атаку в полёте, либо зацепиться за стены по краям арены.</p>
            <p>От Наскока лучше всего сначала увернуться, а при рывке также атаковать Вдову сверху вниз. Колокольный дождь не представляет никакой опасности, если вовремя уйти из зоны падения. Однако следует помнить, что колокола имеют свойства рикошетить от земли, а также закрывать собой босса, из-за чего можно вовремя не заметить готовящуюся атаку и, в попытке от неё увернуться, получить урон сначала от колокола, а потом, если не повезёт, ещё и от Вдовы.</p>
            <p>Во второй фазе босс становится гораздо активнее и выпускает большее количество колоколов, что может сбить игрока с толку. Тем не менее, при Диагональном колоколе достаточно рассчитать пробел, в котором можно переждать атаку, после чего по ситуации — либо стоять в пробелах Колокола сверху, либо наказать Наскок ударом сверху вниз, что, в конце концов, приведёт вас к лёгкой победе.</p>
            <p>Если босс всё же доставляет проблемы, существует способ сильно облегчить бой, по сути пропустив одну из его фаз: так как босс часто встаёт в полный рост и не двигается, он становится идеальной мишенью для тройной булавки с Кар-озера. Вкупе с полиповым мешочком, все три попавших клинка (а попадать будут практически всегда все три) нанесут боссу чудовищный урон. Для закрепления успеха может подойти любое другое метательное оружие, например загнутый коготь или бумдушка.</p>
        </div>
        <a class="button" href="{{ url_for('index') }}">Вернуться на главную</a>
    </div>
</body>
</html>
