<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Колокольный зверь</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="content-card">
        <h1>Колокольный зверь</h1>
        <p class="boss-description">Колокольный зверь (ориг. Bell Beast) — второй босс в игре.</p>
        <h2>Описание:</h2>
        <p class="boss-description">После победы босс становится средством передвижения по станциям Звонкого пути. И Хорнет получает первое Шёлковое сердце.</p>
        <h2>Местоположение:</h2>
        <p class="boss-description">Изначально зверь заточён в шёлковую западню на Костяке, на соответствующей станции Звонкого пути. Освободить зверя можно при помощи Шёлкового копья. После победы Колокольного зверя можно будет позвать на любую из станций Звонкого пути.</p>
        <h2>Атаки:</h2>
        <ol class="attacks-list">
            <li>Рывок — несётся вперёд, после чего, пройдя до конца арены, зарывается в землю.
Прыжок — выпрыгивает из под пола и прыгает через всю арену; после приземления стоит на месте некоторое время.
Бросок колоколов — на некоторое время вынырнув из земли, кидает два колокола в противоположные стороны, после чего быстро погружается обратно.
После пары оглушений босс переходит во вторую фазу боя — в её начале босс закапывается, после чего с потолка начинают падать колокола.

С потолка случайным образом начинают падать колокола.</li>
        </ol>
        <h2>Тактика:</h2>
        <div class="strategy">
            <p>Один из первых боссов игры, способных наносить урон в 2 маски.

Против рывка можно совершить диагональную атаку копьём (↓+X), навстречу или вдогонку. Прыжок можно переждать (в том числе и атаковать зверя в полёте), а затем нанести несколько ударов под хвост. При наличии шёлка и хорошего запаса здоровья в конце атаки можно использовать шёлковое копьё.

Во время атаки колоколами в конце первой фазы лучше не оставаться на одном месте и двигаться активно, при прыжке следя за окружением.</p>
        </div>
        <h2>Звериный зов:</h2>
        <p>В 3 Акте по прибытии на любую из остановок Звонкого пути вместо Колокольного зверя героиню встретит Пожиратель колоколов. При сражении с этим боссом Колокольный зверь нанесёт решающий удар. После победы над Пожирателем колоколов Колокольный зверь представит Хорнет своё потомство в количестве четырёх детёнышей. Вместе они обучат Хорнет звериному рёву, который позволит переместиться к станции Звонкого пути из любого места. Невозможно позвать детёнышей в некоторых локациях, например на тонких поверхностях, не связанных с почвой, или в Бездне, а также в узком пространстве.</p>
        <h2>Прочее:</h2>
        <p>Есть непростой способ не освобождать Зверя для настоящих любителей обходных путей. Нужно оттолкнуться от Связывания в Червоточинах, выйти в верхнюю часть Костяной Низины, затем получить Цепкий захват, и продолжить прохождение с победы над Лейс. Однако учтите, что между станциями Звонкого пути будет невозможно перемещаться.
Таким способом можно завершить игру, но только во 2 акте. Перейти в 3 акт, не освободив Колокольного зверя, не получится из-за того, что при таком способе прохождения Флик никогда не починит стену желаний в Костяной Низине, предотвращая таким образом дарения, обязательные для перехода в 3 акт.
Для вызова зверя можно использовать: зов с платформы, иглончель, удар по большим колоколам сверху и функцию "вызов".
Колокольный зверь является самкой.
Несмотря на то, что у Зверя нет реплик, Хорнет может взаимодействовать с ней — она реагирует на удары или звуки музыки, которые Хорнет извлекает из своей иглы.
Долгое время находясь на одной и той же станции, Зверь может заснуть. Разбудить её можно не только криком с платформы или функцией "вызова", но и атакой больших колокольчиков над платформой.</p>
        <a class="button" href="{{ url_for('index') }}">Вернуться на главную</a>
    </div>
</body>
</html>
