<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hollow Knight: Silksong тактики против боссов</h1>
    <p>Hollow Knight: Silksong предлагает игрокам захватывающую битву с множеством уникальных боссов, каждый из которых предоставляет свои вызовы и требует от игроков адаптации и мастерства.
        Боссы отличаются разнообразием атак и механик, заставляя геймеров применять стратегии, использовать специальные навыки и реагировать на неожиданные ситуации.
        Сражения с ними становятся настоящими испытаниями, где удача и точность играют ключевую роль в достижении победы.</p>
    <p>Ниже вы можете нажать на любого босса и посмотреть туториал сражения против него</p>
    <h2>Боссы Фарлума</h2>
    <div class="boss_list">
        <a href="" class="boss-link">Матерь Мхов</a>
        <a href="" class="boss-link">Колокольный зверь</a>
        <a href="" class="boss-link">Лейс</a>
        <a href="" class="boss-link">Четвёртый хор</a>
        <a href="" class="boss-link">Дикая зверомуха</a>
        <a href="" class="boss-link">Топекрыл</a>
        <a href="" class="boss-link">Сестра Лучина</a>
        <a href="" class="boss-link">Тиран Череп</a>
        <a href="https://www.igromania.ru/article/33104/kak-pobedit-vdovu-v-hollow-knight-silksong-taktika-i-sovetyi/" class="boss-link">Вдова</a>
        <a href="" class="boss-link">Фантом</a>
        <a href="" class="boss-link">Большие ракушечные мухи</a>
    </div>
</body>
</html>